.containerBody {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  min-width: 460px;
  background-color: var(--gray-800);
  padding: 2rem;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
}

.textarea{
  padding: 10px;
  border-radius: 5px;
  background-color: var(--gray-100);
  color: #000;
}
h3{
  font-size: 2rem;
  margin-bottom: 1rem;
}